<div class="ui grid">
	<div class="two wide column">
		<div class="ui vertical labeled icon menu">
			<a class="red item">
				<i class="red empty checkbox icon"></i>
				Incompleted
			</a>
			<a class="teal item">
				<i class="teal checked checkbox icon"></i>
				Completed
			</a>
		</div>
	</div>
	<div class="fourteen wide column">
		<div class="ui stacked right attached segment" style="height: 100%">
			<div class="ui segment event " ng-click="showEvent(eid)">
				<div class="ui toggle checkbox">
					<input type="checkbox" name="event" id="1" ng-click="toggleCompleted(eid)">
					<label for="1"></label>
				</div>
				<b style="display:inline">Test</b>
			</div>
						<div class="ui segment event " ng-click="showEvent(eid)">
				<div class="ui toggle checkbox">
					<input type="checkbox" name="event" id="1" ng-click="toggleCompleted(eid)">
					<label for="1"></label>
				</div>
				<b style="display:inline">Test</b>
			</div>

			<div class="ui segment event " ng-click="showEvent(eid)">
				<div class="ui toggle checkbox">
					<input type="checkbox" name="event" id="1" ng-click="toggleCompleted(eid)">
					<label for="1"></label>
				</div>
				<b style="display:inline">Test</b>
			</div>

			<div class="ui segment event " ng-click="showEvent(eid)">
				<div class="ui toggle checkbox">
					<input type="checkbox" name="event" id="1" ng-click="toggleCompleted(eid)">
					<label for="1"></label>
				</div>
				<b style="display:inline">Test</b>
			</div>

		</div>

	</div>
</div>