<div class="ui grid">
	<div class="two wide column">
		<div class="ui vertical labeled icon menu">
			<a class="red item">
				<i class="red empty checkbox icon"></i>
				Incomplete
			</a>
			<a class="teal item">
				<i class="teal checked checkbox icon"></i>
				Complete
			</a>
		</div>
	</div>
	<div class="one wide column"></div>
	<div class="thirdteen wide column" ng-show="todos">
		<div class="ui stacked right attached segment" style="height: 100%">
			<div class="ui segment event" ng-repeat="todo in todos">
				<div class="ui toggle checkbox">
					<input type="checkbox" name="event" id="{{todo.id}}" ng-click="toggleTodo(todo.id)">
					<label for="{{todo.id}}"></label>
				</div>
				<b style="display:inline">{{todo.description}}</b>
			</div>
		</div>
	</div>
</div>

<div class="ui fluid action input" style="position: absolute; top: -7%">
  <input type="text" ng-model="newTodo">
  <div class="ui blue right labeled icon button" ng-click="addTodo()"><i class="plus icon"></i> Add</div>
</div>