<div class="ui grid">
	<div class="three wide column">
		<div class="ui vertical labeled icon menu">
			<a class="red item" href="#/lists/incomplete">
				<i class="red empty checkbox icon"></i>
				Incomplete
			</a>
			<a class="teal item" href="#/lists/complete">
				<i class="teal checked checkbox icon"></i>
				Complete
			</a>
		</div>
	</div>
	<div class="thirteen wide column" style="overflow-y: scroll" ng-show="todos">
		<div class="ui stacked segment">
			<div ng-repeat="(id, todo) in todos" ng-show="todo.is_complete==status">
				<div class="ui segment event" ng-dblclick="editTodo(id)">
					<div class="ui toggle checkbox">
						<input type="checkbox" name="event" id="{{id}}" ng-checked="todo.is_complete" ng-click="toggleTodo(id)">
						<label for="{{id}}"></label>
					</div>
					<b style="display:inline">{{todo.description}}</b>
				</div>
				<div class="ui fluid action input" ng-show="editing.id==id">
					<input type="text" ng-model="editing.text">
					<div class="ui right labeled icon button" ng-click="doneEdit()"><i class="pencil icon"></i> Done</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui fluid action input" style="position: absolute; top: -7%" ng-hide="status">
	<input type="text" ng-model="newTodo">
	<div class="ui blue right labeled icon button" ng-click="addTodo()"><i class="plus icon"></i> Add</div>
</div>
<script type="text/javascript">
	$(".thirteen.wide.column").height($(window).height() * 0.7);
</script>